* {
    font-family: 'Roboto', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #EEEEEE;
    overflow: hidden;
    color: #333333;
    font-size: 1.5rem;
}

div.slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border: 1px solid lightgray;
    position: absolute;
    top: 3%;
    bottom: 3%;
    width: 90%;
    padding: 1% 4%;
    left: 5%;
    border-radius: 20px;
    background-color: #fafafa;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    transition: left 500ms ease-in-out;
    overflow: hidden;
}

div.slide.right {
    margin: 0;
    left: 96%;
}

div.slide.righter {
    left: 200%;
}

div.slide.left {
    margin: 0;
    left: -86%
}

div.slide.lefter {
    left: -200%
}

div.error {
    color: red;
    font-size: .7rem;
}

.hidden {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 1rem 0;
}

h1, h2, h3 {
    font-weight: bold;
}

h4, h5, h6 {
    font-weight: 600;
}

code, pre {
    font-family: 'Roboto Mono', monospace;
    background-color: white;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1.5rem;
}

blockquote {
    border-left: 5px solid lightgray;
    color: #555555;
    padding-left: 1rem;
    margin-left: 0;
    font-style: italic;
}

p, blockquote, li {
    font-size: .9rem;
}

code {
    display: block;
    font-size: .8rem;
}

.code{
    position: relative;
}

.code > pre{
    margin: auto;
}
.code > pre > code{
    padding: .5rem;
}

.code button, .code-output button{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #d1d1d1;
    font-size: .7rem;
}

.code textarea {
    display: block;
    font-size: .8rem;
}

.code-output .buttons, .code .buttons{
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.code-output{
    position: relative;
    width: 100%;
    height: 100%;
}

.code-output-container{
    position:absolute;
    right: 0;
    bottom: 0;
    top: 100%;
    height: 60%;
    left: 60%;
    background-color: #444444;
    border-top-left-radius: 10px;
    transition: top 200ms ease-in-out;
}

.code-output-container.running{
    top: 40%;
}

.code-output p{
    font-size: .8rem;
    color: #CCCCCC;
    margin: 0;
    padding: 1em;
    white-space: pre-wrap;
}

.code-output p, .code-output span{
    font-family: 'Roboto Mono', monospace;
}

.code-output .scroll-wrapper{
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    display:flex;
    flex-direction:column-reverse;
}

.code-output p span.error{
    color: #CC1111;
}

.code-output p span.ok{
    color: #11CC11;
}

code.hljs{
    padding: .9em;
    border-radius: 10px;
}

code.hljs>*{
    font-family: 'Roboto Mono', monospace;
}

.header {
    text-align: right;
    font-size: .9rem;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    padding: .7rem;
    background-color: #efefef;
}

.header-text {
    color: gray;
}

.footer {
    text-align: right;
    font-size: .9rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .7rem;
    background-color: #efefef;
}

.footer-text {
    color: gray;
}

.content {
    margin-top: 3rem;
}


table {
    font-size: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1em auto;
}

img{
    display: block;
    margin: 0 auto;
}


table thead th {
    background-color: #DDDDDD;
    border: solid 2px #CCCCCC;
    color: #333333;
    padding: .4rem 1rem;
}
table tbody td {
    border: solid 2px #CCCCCC;
    color: #333;
    padding: .3rem 1rem;
}

.presenter .slide, .presenter div.slide.left, .presenter div.slide.right{
    top: 0;
    left: 0;
    right: 0;
    down: 0;
    width:100%;
    height: 100%;
}

.presenter div.slide.lefter, presenter div.slide.righter{
    display:none;
}

.presenter .slide{
    transform: scale(.6) translateY(-15%);
    z-index: 2;
    transition: transform 300ms ease-in-out;
}

.presenter .slide.left{
    transform: scale(.25) translate(-140%, -55%);
    z-index: 1;
}

.presenter .slide.lefter{
    transform: scale(.25) translate(-300%, -55%);
    z-index: 1;
}

.presenter .slide.right{
    transform: scale(.25) translate(140%, -55%);
    z-index: 1;
}

.presenter .slide.righter{
    transform: scale(.25) translate(300%, -55%);
    z-index: 1;
}

.comments{
    position: absolute;
    height: 25%;
    bottom:0;
    padding: 2%;
    background-color: white;
    border-top: 2px solid darkgray;
    display: block;
    width: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}