<div id="slide_container" class="presenter" phx-keyup="keyup" phx-target="window">
    <%= PrexentWeb.SlidesView.render_slides(assigns) %>
    <div class="comments">
        <%= for comment <- get_comments(@slides, @slide) do %>
            <p><%= comment %></p>
        <% end %>
    </div>
</div>
